/* QUESTIONS
- Doit-on utiliser les code pour les caractères spéciaux exemple : &eacute pour é?
 */

/* CONFIG BODY */

body
  {
    margin:0 auto 0 auto;
    border:1px solid black;
    box-sizing: border-box;
    font-size: 20px;
  }

/*Config type et taille police princiaples*/
h1{font-family:raleway, serif; font-size: 0.8em;}

h2 {font-family:raleway, serif;font-size: 0.6em; font-weight: bold;}

h3{font-family:raleway, serif;font-size: 0.6em}

p{font-family:raleway, serif;font-size: 0.6em;}

li{font-family:raleway, serif;font-size: 0.7em;font-weight:}

div{font-family:raleway, serif;}

/*HEADER*/

/*CONFIG HEADER*/

.header
  {
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: auto;
  }
                         
/*Logo*/

.logo
  {
    display: flex;
    margin:10px 0 0 10px;
  }

header .logo img
  {
    width:50%;
  }

.logo_reservia hover:
  {
    cursor: pointer;
  }


/*Menu navigation*/

.navigation
  {
    display:flex;
    justify-content:flex-end;
    padding: 0;
    margin: 20px 20px 0 0;
  }

.navigation li
  {
    list-style: none;
  }

  .navigation .stdLink
  {
    margin-right: 50px;
  }

.bLinkstd /*Bloc liens Hébergement + Activités*/
  {
    display: flex;
  }

.stdLink /*Liens "standard"*/
  {
    text-decoration:none;
    color:black;
  }

.singupLink /*Liens "s'inscrire"*/
  {
    color:#0065fc;
    text-decoration:none;
    font-family: raleway;
    font-weight: bold;
  }

/*Animation liens menu navigation*/

.navigation li a
  {
    position:relative;
  }

  .navigation li a:hover
  {
    color: #0065fc;
    cursor: pointer;
  }

  .navigation li a:after
  {
    content: "";
    border-top: 2px solid #0065fc;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out 0s;
  }

  .navigation li a:hover:after 
  {
    transform: scaleX(1.5);
  }


      /*SECTION RECHERCHE ET FILTRE*/

/*Liens pour affichage mobile*/

.linkmobile
  {
    display: flex;
    justify-content: space-around;
  }

.linkmobile li
  {
    list-style: none;
    padding:20px 15px 0 15px;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
  }

.linkmobile li a:visited
  {
    color: red;
  }


/*TITRE PAGE*/
.titrepage
  {
    margin: 0 0 0 10px;
  }

.titre
  {
    margin: 20px 0 0 0;
  }

.p-titre /*Paragraphe sous le titre*/
  {
    margin: 5px 0 15px 0;
  }


/*BARRE DE RECHERCHE ET FILTRE*/

.search_filter
  {
    margin: 0 0 0 10px;
  }

/*Barre de recherche- (searchbar)*/
.searchbarall
  {
    display: flex;
  }

.searchbar
  {
    box-sizing: border-box;
    mo-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    max-width: 400px;
    height: 40px;

  }

.searchbar i
  {
    display: flex;
    font-size: 1em;
    align-items: center;
    background-color: #F2F2F2;
    justify-content: center;
    border : 1px solid #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
    height: 100%;
    width:40px;
  }

.searchbar input
  {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
    height: 40px;
    border-color: #F2F2F2;
    border-width: 1px 0 1px 0;
    border-style: solid;
    width:50%;
    padding-left: 2%;
  }

.searchbar button
 {
    
    color: white;
    background-color: #0065fc;
    border-color: #0065fc;
    border-style: none;
    border-radius: 0 0.8em 0.8em 0;
    width: 40%;
    height: 40px;
    font-size: 0.8em;
    cursor: pointer;

    transition:background 0.3s ease,box-shadow .3s ease;
    box-shadow:0 0 0 rgba(24,24,151,.4) inset,0 0 0 rgba(24,24,151,.8);
    outline-style:none;
  }
  
.searchbar button:hover,.searchbar button.on
 {
    background:white;
    box-shadow:0 200px 100px -100px rgba(0,24,151,1) inset, 0 0 5px black;
 }

.searchbar button:hover
 {
    background:rgba(255,24,151,1);
    background:linear-gradient(rgba(255,24,151),rgba(24,0,151));
 }

.searchbar button:active
 {
    box-shadow:0 5px 0 black inset,0 1px 0 black;
 }

/*BARRE DE RECHERCHE MOBILE - (searchbarmobile)*/
 
.searchbarmobile
  {
    box-sizing: border-box;
    mo-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 40px;
    border-width: 1px 0 1px 0;
    border-radius: 0.8em;
    border-color: #F2F2F2;
    border-style: solid;
  }

.searchbarmobile i
  {
    display: flex;
    font-size: 1em;
    align-items: center;
    background-color: #F2F2F2;
    justify-content: center;
    border-radius: 0.8rem 0 0 0.8rem;
    height: 100%;
    width:40px;
  }

.searchbarmobile input
  {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
    height: 40px;
    width:auto;
    padding-left: 2%;
    border:none;
    background-color: transparent;
  }

.searchbarmobile button
 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0065fc;
    border-color: #0065fc;
    border-style: none;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    width: 45px;
    height: 40px;
    cursor: pointer;

    transition:background 0.3s ease,box-shadow .3s ease;
    box-shadow:0 0 0 rgba(24,24,151,.4) inset,0 0 0 rgba(24,24,151,.8);
    outline-style:none;
  }

  .searchbarmobile button .fas
 {
    background-color: transparent;
    border:none;
  }

/*ZONE FILTRE*/

.filtre
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 0 0px;
  }

  .filtre h2
  {
    margin: 0 10px 10px 0px;
  }

.titreetbtn
  {
    display: flex;
    align-items: center;
  }
.gbtns /*bloc boutons filtre*/
  {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
  }

.filtre .btn /*config boutons filtre individuel*/
  {
    box-sizing: border-box;
    mo-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin : 0px 10px 10px 0px;
    height: 100%;
  }

.filtre button
  {
    display: flex;
    align-items: center;
  }


.filtre .btn :hover
  {
    cursor: pointer;
    border-color: #0065fc;
    box-shadow: 10px 5px 5px #0065fc;
  }

.filtre .btn3:hover
  {
    background-color: yellow;
  }


.filtre .btn i
  {
    display: flex;
    align-items: center;
    background-color: #deebff;
    color: #0065fc;
    height: 40px;
    width:40px;
    border-radius: 25px;
    border:1px solid #deebff ;
  }

.filtre .fas
   {
    justify-content: center;
   }

.filtre .btn button
   {
    font-family: raleway, serif;
    font-size: 0.8em;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
    padding: 0 0px 0 0px;
    outline-style:none;
   }

.filtre .info
  {
    display: flex;
    align-items: center;
  }
.filtre .info .fas
  {
    border:1px solid #deebff;
    font-size: 0.6em;
    border-radius: 1.3em;
    color: #0065fc;
    margin:0 10px 0 0;
    padding: 0.4em 0.7em 0.4em 0.7em;

  }

/*HEBERGEMENT MARSEILE ET POPULAIRE*/

.marsetpop
  {
    display: flex;
    justify-content: space-between;
    border : 3px solid red;
  }

/*PHOTOS marseille*/


.marsetpop .marseille
  {
    display: flex;
    justify-content: center;
    border:1px solid yellow;
    width: 65%;
    background-color: #F2F2F2;
  }

.marseille .btitreetphoto
  {
    display: table-cell;
    flex-direction: column;
    border:1px solid red;
    width: 90%;
    align-items: center;
    margin: 30px 0 0 0 ;
  }

.marseille nav
  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    border:2px solid blue;
    width:100%;
    grid-gap: 5%;
    grid-row-gap: 20px;  
  }

.marseille h1
  {
    margin: 0 0 15px 0;
  }

.marseille nav h3
  {
    margin: 0;
    font-size: 0.7em;
  }

.marseille nav p
  {
    margin: 3px 0 3px 0;
    font-size: 0.7em;
  }

.marseille nav .textimg
  {
    margin: 5px 0 5px 5px;
    border:1px solid yellow;
  }

.marseille nav li
  {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
    width: 165px;
  }

.marseille nav li a
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border:3px solid white;
    text-decoration: none;
    margin:0 ;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
    width: 100%;
  }

.marseille .cropimg
  {
    position: relative;
    width: 165px;
    height: 80px;
    overflow: hidden;
    border: 1px red solid;
  }


.marseille .cropimg .centre
  {
    position: absolute;
  }

.marseille nav li a img
  {
    width:auto;
    height: 100%;
  }

.marseille nav .bstar
  {
    display: flex;
    height: 100%;
  }

.marseille nav .image i
  {
    color:#0065fc;
    font-size: 0.6em;
    margin: 0;
    padding: 0;
  }

.h2article
  {
    margin: 10px 0 20px 0;
  }

/*PHOTOS Populaires*/

.pop
  {
    display: flex;
    border:1px solid red;
    justify-content: center;
    width: 30%;
    background-color: #F2F2F2;
    border:2px solid green;
  }

.pop i
  {
    position: relative;
  }

.pop nav
  {

    border:2px solid blue;
    width: 80%;
    height: 90%;
    margin: 30px 0 15px 0;
  }

.pop h1
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
  }

.pop nav h3
  {
    margin: 0;
    font-size: 0.7em;
  }

.pop nav p
  {
    margin: 3px 0 3px 0;
    font-size: 0.7em;
  }

.pop nav .textimg
  {
    margin: 5px 10px 5px 10px;
    border:1px solid yellow;
    width: 58%;
  }

.pop nav li
  {
    list-style: none;
    display: flex;
    justify-content: center;
    height: auto;
    margin: 10px 0 10px 0;
  }

.pop nav li a
  {
    display: flex;
    width: 100%;
    border:3px solid white;
    text-decoration: none;
    padding: 0;
    border-radius: 1em;
    overflow: hidden;
  }

.pop .cropimg1
  {
    position: relative;
    min-width: 110px;
    height: 110px;
    overflow: hidden;
    border: 1px red solid;
  }

.pop .cropimg1 .centrepop
  {
    position: absolute;
    left: -29%;
    top: -5%;
  }

.pop nav .cropimg1 img
  {
    width:170px;
    height: auto;
  }

.pop .cropimg2
  {
    position: relative;
    min-width: 110px;
    height: 110px;
    overflow: hidden;
    border: 1px red solid;
  }

.pop .cropimg2 .centrepop
  {
    position: absolute;
    left: -20%;
    top: -0%;
  }

.pop nav .cropimg2 img
  {
    width:145px;
    height: auto;
  }


.pop .cropimg3
  {
    position: relative;
    min-width: 110px;
    height: 110px;
    overflow: hidden;
    border: 1px red solid;
  }

.pop .cropimg3 .centrepop
  {
    position: absolute;
    left: -0%;
    top: -25%;
  }

.pop nav .cropimg3 img
  {
    width:110px;
    height: auto;
  }


.pop nav .bstar
  {
    display: flex;
    height: 100%;
  }

.pop nav .image i
  {
    color:#0065fc;
    font-size: 0.6em;
    margin: 0;
    padding: 0;
  }


/*MEDIA QUERY HEADER 
Note:pour les mobiles : @media all and (max-device-width: 480px)*/

@media screen and (min-width: 1200px)
  {

  /*Augmentation police*/
  h1{font-size: 1em;}

  h2 {font-size: 0.8em;}

  h3{font-size: 0.8em}

  p{font-size: 0.8em;}

  li{font-size: 0.9em;}

  div{font-family:raleway, serif;}

    .marseille .cropimg /*pour medi query sous 1050px */
    {
      width: 260px;
      height: 125px;
    }
    .marseille nav li
    {
      width: 260px;
    }

    .pop .cropimg1
     {
       position: relative;
       min-width: 200px;
       height: 130px;
       overflow: hidden;
       border: 1px red solid;
     }
      .pop .cropimg1 .centrepop
       {
         position: absolute;
         left: -0%;
         top: -0%;
       }
      .pop nav .cropimg1 img
       {
         width:200px;
         height: auto;
       }

    .pop .cropimg2
     {
       position: relative;
       min-width: 200px;
       height: 130px;
       overflow: hidden;
       border: 1px red solid;
     }
      .pop .cropimg2 .centrepop
       {
         position: absolute;
         left: -0%;
         top: -0%;
       }
      .pop nav .cropimg2 img
       {
         width:200px;
         height: auto;
       }

    .pop .cropimg3
     {
       position: relative;
       min-width: 200px;
       height: 130px;
       overflow: hidden;
       border: 1px red solid;
     }
      .pop .cropimg3 .centrepop
       {
         position: absolute;
         left: -0%;
         top: -95%;
       }
      .pop nav .cropimg3 img
       {
         width:200px;
         height: auto;
       }
  }

@media screen and (min-width: 992px)
  {
    body
      {
        
        margin: auto;
      }

    .linkmobile
      {
       display: none;
      }

    .searchbarmobile
      {
       display: none;
      }  
  
    header .logo img
    {
      width:30%;
    }
  }

@media screen and (min-width: 768px) and (max-width: 992px)
  {
    body
      {
        margin: auto;
      }  
  
    .linkmobile
      {
       display: none;
      }

    .searchbarmobile
      {
       display: none;
      }      
  
    header .logo img
    {
      width:30%;
    }
  }

@media screen and (min-width: 0px) and (max-width: 768px)
  {
      body
    {
      margin: auto;
    }

    .header
    {
      justify-content:space-between;
      margin: 0 0px 0 20px;
    }
       
  .bLinkstd
    {
     display: none;
    }

  .searchbar
      {
       display: none;
      }

  .navigation
    {
      justify-content: flex-end;
      align-items: flex-end;
      margin: 25px 25px 0 0;
    }

  header .logo img
    {
      align-items: flex-end;
      width: 100px;
    }

  .titrepage    
    {
      padding-left:10px;
      padding-right: 10px;
    }
    .gbtns
     {
      margin: 0 0 0 10px;
     }

/*@media changement animation liens menu navigation*/

  .navigation li a:active 
    {
    color: #0065fc;
    }

  .navigation li a:hover
    {
      display: none;
    }

  .navigation li a:after
    {
      display: none;
    }
    {
