/* QUESTIONS
- Doit-on utiliser les code pour les caractères spéciaux exemple : &eacute pour é?
 */



/* CONFIG BODY */

body
{
  max-width: 1440px;
  margin:0 auto 0 auto;
  border:1px solid black;
  box-sizing: border-box;
  font-size: 20px;
}



/*Config type et taille police princiaples*/
h1{font-family:raleway, serif; font-size: 1em;}

h2 {font-family:raleway, serif;font-size: 0.8em; font-weight: bold;}

h3{font-family:raleway, serif;}

p{font-family:raleway, serif;font-size: 0.8em;}

li{font-family:raleway, serif;font-size: 0.8em;font-weight:}

div{font-family:raleway, serif;}

                                /*HEADER*/

/*CONFIG HEADER*/

.header
  {
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: auto;
  }
                         
/*LOGO MENU NAVIGATION*/

.logo
  {
    display: flex;
    margin:10px 0 0 0;
  }

header .logo img
  {
    width:50%;
  }

.logo_reservia hover:
  {
    cursor: pointer;
  }

.bLinkstd /*Bloc liens Hébergement + Activités*/
  {
    display: flex;
  }

.stdLink /*Liens "standard"*/
  {
    text-decoration:none;
    color:black;
  }

.singupLink /*Liens "s'inscrire"*/
  {
    color:#0065fc;
    text-decoration:none;
    font-family: raleway;
    font-weight: bold;
  }

/*MENU NAVIGATION*/

.navigation
  {
    display:flex;
    justify-content:space-around;
    width:30%;
    padding: 0;
    margin: 0 20px 0 0;
  }

.navigation li
  {
    list-style: none;
    padding:20px 15px 0 15px;
  }

/*Animation liens menu navigation*/

.navigation li a
  {
    position:relative;
  }

  .navigation li a:hover
  {
    color: #0065fc;
    cursor: pointer;
  }

  .navigation li a:after
  {
    content: "";
    border-top: 1px solid #0065fc;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out 0s;
  }

  .navigation li a:hover:after 
  {
    transform: scaleX(1.5);
  }


      /*SECTION RECHERCHE ET FILTRE*/

/*Liens pour affichage mobile*/

.linkmobile
  {
    display: flex;
    justify-content: space-around;
  }

.linkmobile li
  {
    list-style: none;
    padding:20px 15px 0 15px;
    border-bottom: 2px solid #0065fc;
    padding-bottom: 10px;
  }

.linkmobile li a:visited
  {
    color: red;
  }


/*TITRE PAGE*/
.titre
  {
    margin: 20px 0 0 0;
  }

.p-titre /*Paragraphe sous le titre*/
  {
    margin: 5px 0 15px 0;
  }


/* BARRE DE RECHERCHE - (searchbar)*/

.searchbar
  {
    box-sizing: border-box;
    mo-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    max-width: 400px;
    height: 40px;

  }

.searchbar i
  {
    display: flex;
    font-size: 1em;
    align-items: center;
    background-color: #F2F2F2;
    justify-content: center;
    border : 1px solid #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
    height: 100%;
    width:40px;
  }

.searchbar input
  {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
    height: 40px;
    border-color: #F2F2F2;
    border-width: 1px 0 1px 0;
    border-style: solid;
    width:50%;
    padding-left: 2%;
  }

.searchbar button
 {
    
    color: white;
    background-color: #0065fc;
    border-color: #0065fc;
    border-style: none;
    border-radius: 0 0.8em 0.8em 0;
    width: 40%;
    height: 40px;
    font-size: 0.8em;
    cursor: pointer;

    transition:background 0.3s ease,box-shadow .3s ease;
    box-shadow:0 0 0 rgba(24,24,151,.4) inset,0 0 0 rgba(24,24,151,.8);
    outline-style:none;
  }
  
.searchbar button:hover,.searchbar button.on
 {
    background:white;
    box-shadow:0 200px 100px -100px rgba(0,24,151,1) inset, 0 0 5px black;
 }

.searchbar button:hover
 {
    background:rgba(255,24,151,1);
    background:linear-gradient(rgba(255,24,151),rgba(24,0,151));
 }

.searchbar button:active
 {
    box-shadow:0 5px 0 black inset,0 1px 0 black;
 }

/* BARRE DE RECHERCHE MOBILE - (searchbarmobile)*/
 
.searchbarmobile
  {
    box-sizing: border-box;
    mo-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    max-width: 400px;
    height: 40px;
  }

.searchbarmobile i
  {
    display: flex;
    font-size: 1em;
    align-items: center;
    background-color: #F2F2F2;
    justify-content: center;
    border : 1px solid #F2F2F2;
    border-radius: 0.8rem 0 0 0.8rem;
    height: 100%;
    width:40px;
  }

.searchbarmobile input
  {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
    height: 40px;
    border-color: #F2F2F2;
    border-width: 1px 0 1px 0;
    border-style: solid;
    width:auto;
    padding-left: 2%;
  }

.searchbarmobile button
 {
    
    color: white;
    background-color: #0065fc;
    border-color: #0065fc;
    border-style: none;
    border-radius: 0.8em 0.8em 0.8em 0.8em;
    width: 45px;
    height: 40px;
    font-size: 0.8em;
    cursor: pointer;

    transition:background 0.3s ease,box-shadow .3s ease;
    box-shadow:0 0 0 rgba(24,24,151,.4) inset,0 0 0 rgba(24,24,151,.8);
    outline-style:none;
  }

/* ZONE FILTRE*/

.filtre
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin: 20px 0 0 0;
  }

  .filtre h2
  {
    margin: 0 0 10px 0;
  }

.gbtns
  {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
  }

.filtre .btn
  {
    box-sizing: border-box;
    mo-box-sizing: border-box;
    webkit-box-sizing: border-box;
    display: flex;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    margin : 0px 10px 10px 0px;
  }


.filtre .btn i
  {
    display: flex;
    align-items: center;
    background-color: #deebff;
    color: #0065fc;
    height: 40px;
    width:40px;
    border-radius: 25px;
    border:1px solid #deebff ;
  }

  .filtre .fas
   {
    justify-content: center;
   }

  .filtre .btn button
   {
    font-family: raleway, serif;
    font-size: 0.8em;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
    padding: 0 15px 0 15px;
    outline-style:none;
   }

/*MEDIA QUERY HEADER 
Note:pour les mobiles : @media all and (max-device-width: 480px)*/

@media screen and (min-width: 992px)
  {
    body
      {
        max-width: 992px;
        margin: auto;
      }

    .linkmobile
      {
       display: none;
      }

    .searchbarmobile
      {
       display: none;
      }  
  
    header .logo img
    {
      width:30%;
    }
  }


@media screen and (min-width: 768px) and (max-width: 992px)
  {
    body
      {
        margin: auto;
      }  
  
    .linkmobile
      {
       display: none;
      }

    .searchbarmobile
      {
       display: none;
      }      
  
    header .logo img
    {
      width:30%;
    }
  }

@media screen and (min-width: 0px) and (max-width: 768px)
  {
      body
    {
      margin: auto;
    }

    .header
    {
      justify-content:space-between;
      margin: 0 0px 0 20px;
    }
       
  .bLinkstd
    {
     display: none;
    }

  .searchbar
      {
       display: none;
      }

  .navigation
    {
      justify-content: flex-end;
      align-items: flex-end;
      margin: 0;
    }

  header .logo img
    {
      align-items: flex-end;
      width: 100px;
    }

  .titrepage    
    {
      padding-left:10px;
      padding-right: 10px;
    }

/*Animation liens menu navigation*/

  .navigation li a:active 
    {
    color: #0065fc;
    }

  .navigation li a:hover
    {
      display: none;
    }

  .navigation li a:after
    {
      display: none;
    }
    {
