/* QUESTIONS OK
- Doit-on utiliser les code pour les caractères spéciaux exemple : &eacute pour é?
PAS BESOIN CAR code UTF-8 permet de prendre en charge les caractères spéciaux accentué MAIS RESTE UNE SECURITE SUPPLEMENTAIRE

- Peut-on ajuster la largeur d'une div selon la largeur de son enfant?
  (exemple : ajustement auto de la largeur du bloc .btitreetphoto 
    à la largeur du bloc photo imgpop) 
    NON  - MIS ON PEUT FAIRE divparent avec WIDTH=auto et WIDTH=xxxpx (fixée) pour la DIV enfant
-Peut-on utiliser les liens comme des div comme je l'ai fait pour 
  que lien porte sur tout le contenu du cadre?
  NON CAR SEMANTAIQUEMENT PAS BON( appliquer le lien à l'image)

QUESTIONS RESTANTES
-Peut-on dupliquer les icone (comme la commande background-repeat)?
- FAIRE EN SORTE QUE LES PHOTOS SE REDUISE DES CHAQUE COTES PROPRTIONNELEMENT?

*/

/* CONFIG BODY */

body
  {
    margin:0 auto 0 auto;
    border:1px solid black;
    box-sizing: border-box;
    font-size: 20px;
    width: 100%;
  }

/*Config type et taille police princiaples*/
  h1{font-family:raleway, serif; font-size: 0.8em}

  h2 {font-family:raleway, serif;font-size: 1em; font-weight: bold}

  h3{font-family:raleway, serif;font-size: 0.8em}

  p{font-family:raleway, serif;font-size: 0.6em}

  li{font-family:raleway, serif;font-size: 0.7em}

  div{font-family:raleway, serif}

  a{text-decoration:none; color: black}

/*HEADER*/

/*CONFIG HEADER*/


.header
  {
    display:flex;
    justify-content:space-between;
    align-items: flex-start;
    margin: auto;
    margin: 0 60px 0 60px;
  }
                         
/*Logo*/

.logo
  {
    display: flex;
    margin:10px 0 0 0px;
  }

header .logo img
  {
    width:50%;
  }

.logo_reservia hover:
  {
    cursor: pointer;
  }


/*Menu navigation*/

.navigation
  {
    display:flex;
    justify-content:flex-end;
    padding: 0;
    margin: 30px 0px 0 0;
  }

.navigation li
  {
    list-style: none;
  }

  .navigation .stdLink1,
  .navigation .stdLink2
  {
    margin-right: 50px;
  }

.bLinkstd /*Bloc liens Hébergement + Activités*/
  {
    display: flex;
  }

.stdLink1, .stdlink2 /*Liens "standard"*/
  {
    text-decoration:none;
    color:black;
  }

.singupLink /*Liens "s'inscrire"*/
  {
    color:#0065fc;
    text-decoration:none;
    font-family: raleway;
    font-weight: bold;
  }

/*Animation liens menu navigation*/

.navigation li a
  {
    position:relative;
  }

  .navigation li a:hover
  {
    color: #0065fc;
    cursor: pointer;
  }

  .navigation li a:after
  {
    content: "";
    border-top: 2px solid #0065fc;
    width: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out 0s;
  }

  .navigation li a:hover:after 
  {
    transform: scaleX(1.5);
  }


      /*SECTION RECHERCHE ET FILTRE*/


/*TITRE PAGE*/
.titrepage
  {
    display: flex;
    flex-direction: column;
    margin: 0 60px 10px 60px;
  }

.titre
  {
    margin: 20px 0 0 0;
  }

.p-titre /*Paragraphe sous le titre*/
  {
    margin: 5px 0 15px 0;
  }


/*BARRE DE RECHERCHE ET FILTRE*/

.search_filter
  {
    margin: 0 60px 0 60px;
  }

/*Barre de recherche- (searchbar)*/


.searchbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}

.spanicomap {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  border-radius: 1em 0 0 1em;
  height: 50px;
  min-width: 50px;
}

.icomap {
  margin-left: 0.1em;
}

.searchinput {
  border-right: none;
  border-left: none;
  border-top: #F2F2F2 1px solid;
  border-bottom: #F2F2F2 1px solid;
  padding: 0 1.5em;
  box-sizing: border-box;
  width: 14em;
  font-size: 1em;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  height: 50px;
}

.searchinput::placeholder {
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  color: #00000069;
}

.searchbutton {
  background-color: #0065FC;
  color: white;
  border-style: none;
  border-radius: 0 1em 1em 0;
  padding: 0 1.5em;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  height: 50px;
}


/*ZONE FILTRE*/

.filtre
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px 0px 0 0px;
  }

  .filtre h2
  {
    margin: 0 10px 0px 0px;
  }

.titrefiltre
  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
  }

.gbtns /*bloc boutons filtre*/
  {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    gap : 10px;
  }

.filtre .btn /*config boutons filtre individuel*/
  {
    margin-bottom: 0px;
  }

.filtre .btn button
   {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: raleway, serif;
    font-size: 0.8em;
    font-weight: bold;
    border-style: none;
    background-color: transparent;
    outline-style:none;
    padding: 0 10px 0 0px;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-radius: 40px;
    margin : 0px 0px 0px 0px;
    height: 50px;
   }

.filtre button:hover
  {

    background-color:#F2F2F2;
    color: #0065fc;
    transform: scale(1.02);
    cursor: pointer;
  }


.filtre .btn i
  {
    display: flex;
    align-items: center;
    background-color: #deebff;
    color: #0065fc;
    height: 50px;
    width:50px;
    border-radius: 25px;
    margin: 0 10px 0 0;

  }

.filtre .fas
   {
    justify-content: center;
   }

.filtre .info
  {
    display: flex;
    align-items: center;
  }
.filtre .info .fas
  {
    border:1px solid #deebff;
    font-size: 0.6em;
    border-radius: 1.3em;
    color: #0065fc;
    margin:0 10px 0 0;
    padding: 0.4em 0.7em 0.4em 0.7em;

  }

/*HEBERGEMENT MARSEILE ET POPULAIRE*/

.marsetpop
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0 40px 30px 40px;
  }

/*PHOTOS marseille*/

.marseille
  {
    display: flex;
    justify-content: center;
    width:68%;
    background-color: #F2F2F2;
    border-radius: 1em;

    bder:1px solid red;
  }

.marseille h1
  {
    margin: 40px 0 20px 0;
  }

.marseille .btitreetphoto
  {
    display: flex;
    flex-direction: column;
    width:95%;

    bder:1px solid red;
  }

.marseille .btitreetphoto .photosmarseille
  {
    display: flex;
    flex-wrap: wrap;
    gap:3%;
    row-gap:20px;
    
    align-items: flex-start;
    justify-content: center;

    rder:1px solid red;
  }

.marseille .btitreetphoto .photosmarseille .hotels
  {
    width:28%;
    border:4px solid white;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bold;
    font-style: raleway, serif;
    padding: 0;
    overflow: hidden;
    min-width: 250px;
    background-color: white;
  }

  .marseille .btitreetphoto .photosmarseille .hotels:hover
  {
    transform: scale(1.2);
  }

.marseille .btitreetphoto .photosmarseille .hotels figure
  {
    width: 100%;
    height: 9em;
    min-width: 250px;
    margin: 0;
  }

/*Positionnement texte dans bloc photo Marseille*/
  .marseille .btitreetphoto .photosmarseille .hotels figcaption
    {
      margin-top: 10px;
      font-size: 1.2em;
    }
  .marseille .btitreetphoto .photosmarseille .hotels figcaption,
  .marseille .btitreetphoto .photosmarseille .hotels p,
  .marseille .btitreetphoto .photosmarseille .hotels .bstar
    {
      margin-left: 10px;
      margin-bottom: 7px; 
    }
  .marseille .btitreetphoto .photosmarseille .hotels p
   {
    margin-top: 0;
    font-weight: normal;
    font-size: 1em;
   }


.photosmarseille .hotels .centre
  {
    position: relative;
    height: 9em;
    object-fit: cover;
    width: 100%;
    min-width: 260px;
    border-radius: 1em 1em 0 0;
    margin: auto;
  }



.photosmarseille .capimghotel
  {
    margin:0.4em 0 0 0.7em;
    padding: 0;
  }

.marseille span
  {
    font-weight: normal;
    font-size: 0.9em;
    margin: 0.2em 0 0 0.7em;
    padding: 0;
  }

.marseille .bstar
  {
    color:#0065fc;
    font-size: 0.8em;
    padding: 0;
    margin: 0em 0 0.7em 0.7em;
  }

/*PHOTOS Populaires*/

.pop
  {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width:30%;
    background-color: #F2F2F2;
    border-radius: 1em;

    boer:1px solid red;
  }

.pop h1
  {
    margin: 40px 0 25px 0;
  }
.pop i
  {
    margin: 40px 0 25px 0;
  }

.pop .btitreetphotopop
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:95%;
    margin-bottom: 20px;

    bder:1px solid red;
  }

.pop .btitreetphotopop .photospop
  {
    display: flex;
    flex-wrap: wrap;
    gap:3%;
    row-gap:0.5em;
    align-items: center;
    justify-content: center;

    bder:1px solid red;
  }

.pop .btitreetphotopop .photospop .hotelspop
  {
    display: inline-flex;
    border:4px solid white;
    border-radius: 1em;
    font-size: 0.8em;
    font-weight: bold;
    font-style: raleway, serif;
    padding: 0;
    overflow: hidden;
    mn-wdth: 320px;
    height: 25%;
    max-height: 172px;
    margin: auto;
    background-color: white;
  }

.pop figure
  {
    min-width: 50%;
    max-width: 50%;
    margin: 0;
    display: block;
  }

.photospop .hotelspop .centrepop
  {
    min-height: 10em;
    object-fit: cover;
    width: 100%;
    min-width: 170px;
    height: 100%;
    border-radius: 1em 0 0 1em;
    margin: auto;
    display: block;
  }

.photospop .capimghotelpop
  {
    margin:0.4em 0 0 0.7em;
    padding: 0;
  }

.pop p
  {
    font-weight: normal;
    font-size: 0.9em;
    margin: 0.2em 0 0 0.7em;
    padding: 0;
  }

.pop .bstarpop
  {
    color:#0065fc;
    font-size: 0.8em;
    padding: 0;
    margin: 0.5em 0 0.7em 0.7em;
  }

  .btextphotopop
  {
    margin: 0.5em 0 0 0.5em;
  }


/*ACTIVITES A MARSEILLE*/

.sectionactivitesMars
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 40px 30px 40px;
  }

.sectionactivitesMars h1
  {
    margin: 50px 0 20px 0;
  }

.sectionactivitesMars article
  {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    rder:2px solid yellow;                 /*BOOOOOOOOOOOORDER REPERE*/
  }


.sectionactivitesMars article .groupephoto,
.sectionactivitesMars article .groupephoto2,
.sectionactivitesMars article .groupephoto3,
.sectionactivitesMars article .groupephoto4
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%;
    min-width: 270px;

    rder:2px solid red;                 /*BOOOOOOOOOOOORDER REPERE*/
  }


.sectionactivitesMars article .groupephoto .blocphoto1,
.sectionactivitesMars article .groupephoto2 .blocphoto2,
.sectionactivitesMars article .groupephoto2 .blocphoto3,
.sectionactivitesMars article .groupephoto3 .blocphoto4,
.sectionactivitesMars article .groupephoto4 .blocphoto5,
.sectionactivitesMars article .groupephoto4 .blocphoto6
{

    width: 100%;
    height: auto;  
    box-shadow: 0px 10px 5px #F2F2F2;
    border-radius: 1em 1em 1em 1em;
    overflow: hidden;

    rder:4px solid blue;            /*BOOOOOOOOOOOORDER REPERE*/
  }

.sectionactivitesMars article .groupephoto .blocphoto1 h3,
.sectionactivitesMars article .groupephoto2 .blocphoto2 h3,
.sectionactivitesMars article .groupephoto2 .blocphoto3 h3,
.sectionactivitesMars article .groupephoto3 .blocphoto4 h3,
.sectionactivitesMars article .groupephoto4 .blocphoto5 h3,
.sectionactivitesMars article .groupephoto4 .blocphoto6 h3
  {
    padding-left: 10px;
  }


.sectionactivitesMars article .groupephoto a .cadrephoto1
  {
    width: 100%;
    height: 395px;
    overflow: hidden;
  }

.sectionactivitesMars article .groupephoto2 a .cadrephoto2
  {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }

.sectionactivitesMars article .groupephoto2 a .cadrephoto3
  {
    width: 100%;
    height: 110px;e;
    overflow: hidden;
  }

.sectionactivitesMars article .groupephoto3 a .cadrephoto4
  {
    width: 100%;
    height: 395px;
    overflow: hidden;
  }

.sectionactivitesMars article .groupephoto4 a .cadrephoto5
  {
    width: 100%;
    height: 140px;
    overflow: hidden;
  }

.sectionactivitesMars article .groupephoto4 a .cadrephoto6
  {
    width: 100%;
    height: 145px;
    overflow: hidden;
  }


.sectionactivitesMars article .groupephoto a .cadrephoto1 img,
.sectionactivitesMars article .groupephoto2 a .cadrephoto2 img,
.sectionactivitesMars article .groupephoto2 a .cadrephoto3 img,
.sectionactivitesMars article .groupephoto3 img,
.sectionactivitesMars article .groupephoto4 .blocphoto5 .cadrephoto5 img,
.sectionactivitesMars article .groupephoto4 a .cadrephoto6 img
  
  {
    position: relative;
    object-fit: cover;
  }


.sectionactivitesMars article .groupephoto a .cadrephoto1 img
  {
    left: -55%;
    top:-0%;
    height: 460px ;
  }

.sectionactivitesMars article .groupephoto2 a .cadrephoto2 img
  {
    left: -0%;
    top:-85%;
    width: 100%;
  }

.sectionactivitesMars article .groupephoto2 a .cadrephoto3 img
  {
    left: -0%;
    top:-30%;
    width: 100%;
  }

.sectionactivitesMars article .groupephoto3 a .cadrephoto4 img
  {
    left: -35%;
    top:-%;
    height: 100%;
  }

.sectionactivitesMars article .groupephoto4 a .cadrephoto5 img
  {
    left: -%;
    top:-%;
    width: 100%;
  }

.sectionactivitesMars article .groupephoto4 a .cadrephoto6 img
  {
    left: -0%;
    top:-15%;
    width: 100%;
  }


/*FOOTER*/

.footer
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #F2F2F2;
}

.bloc_footer
{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 40px 0 45px 40px;
  gap:10%;
  grid-row-gap: 30px;
}

.bloc_a_propos,
.bloc_nos_hebergements,
.bloc_assistance
{
  display: flex;
  flex-direction: column;
  width: 20%;
}

.bloc_a_propos h3,
.bloc_nos_hebergements h3,
.bloc_assistance h3
{
margin-bottom: 10px;
}

.bloc_a_propos a,
.bloc_nos_hebergements a,
.bloc_assistance a
{
margin-bottom: 7px;
font-size: 0.9em;
}









/*___________________________________MEDIA QUERY________________________________ */


/*@media1 - Tèrs Grands écrans > 1580x*/
  @media screen and (min-width: 1580px)
   {
      .photosmarseille .hotels .imghotel .centre
      {height: 100%;max-height:160px;}
   }

   /*@media1 -intémedriare*/
  @media screen and (max-width: 1200px)
   {

      .marsetpop
      {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
      }

      .marsetpop .marseille
      {
        width: 70%;
        background-color: transparent;
      }

      .pop
      {
        width: 70%;
        padding-bottom: 30px;
      }
   }



/*@media1 - Grands écrans > 1200px*/
  @media screen and (min-width: 1200px)
   {
    /*Augmentation police*/
    h1{font-size: 1.2em;}

    h2 {font-size: 1em;}

    h3{font-size: 1em}

    p{font-size: 1em;}

    li{font-size: 1.1em;}

    div{font-family:raleway, serif;}



  } /*Fin @media1*/

/*@media2 - Ecrans PC min 992px*/
@media screen and (min-width: 992px)
  {
    body
      {
        
        margin: auto;
      }

    header .logo img
    {
      width:30%;
    }
  }

/*@media3 - Ecran tablettes entre 768 et 992px*/
@media screen and (min-width: 768px) and (max-width: 992px)
  {
    body
      {
        margin: auto;
      }  
  
    header .logo img
    {
      width:30%;
    }
    .marseille nav
    {
      justify-content: space-around;
    }
  }

/*@media3 - Ecran supérieur à 768px*/
@media screen and (min-width: 768px)
  {
    .searchbutton .icosearch
    {
      display: none;
    }
  }

/*@media4 - Petits écrans (type mobile) < 768px*/
  @media screen and (min-width: 0px) and (max-width: 768px)
    {
        body
      {
        margin: auto;

      }

      .header
      {
        justify-content:space-between;
        margin: 0 20px 80px 20px;
      }

  .bLinkstd
    {
      box-sizing: border-box;
      display: flex;
      width: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
      top:80px;
      left:0px;

      border:1px solid black;               /*BORDURE REPPPPPPERE*/
    }

  .bLinkstd .LiStdLink1
    {
      width: 50%;
      padding: 0;
      margin-right:0;
    }
  .bLinkstd .LiStdLink2
    {
      width: 50%;
      padding: 0;
      margin-right:0;
    }

  .bLinkstd .LiStdLink1 a,
  .bLinkstd .LiStdLink2 a
    {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-bottom: 10px;
    }

  .bLinkstd .LiStdLink1 a:active,
  .bLinkstd .LiStdLink2 a:active
    {
      color:#0065fc;
      border-bottom: 2px solid #0065fc;
    }

  .bLinkstd .LiStdLink1 a:visited,
  .bLinkstd .LiStdLink2 a:visited
    {
      color:#0065fc;
    }

  .bLinkstd .LiStdLink1 a:focus,
  .bLinkstd .LiStdLink2 a:focus
    {
      border-bottom: 2px solid #0065fc;
    }


    .bLinkstd .stdLink1
      {
        padding: 0;
        margin: 0px;
      }

    .bLinkstd .stdLink2
      {
        padding: 0;
        margin: 0px;
      }


    .navigation li a:after
      {
        content: "";
      }

      .navigation li a:hover:after 
      {
        transform: scaleX(0);
      }

    header .logo img
      {
        align-items: flex-end;
        width: 100px;
      }

    .titrepage    
      {
        margin:0px 10px 0 10px;
      }

      .search_filter
      {
        margin:0px 10px 0 10px;
      }
      .searchspan
      {
        display: none;
      }

      .gbtns
       {
        margin: 0 0 0 0px;
       }

    /*@media changement animation liens menu navigation*/

    .navigation li a:active 
      {
      color: #0065fc;
      }


      .marsetpop
      {
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
        margin-right: 0;
      }
      .marsetpop .marseille
      {
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
      }
      .marsetpop .marseille .btitreetphoto
      {
        display: flex;
        flex-direction: column;
      }

      .marseille .btitreetphoto .photosmarseille .hotels
      {
        width: auto;
      }

      .photosmarseille .hotels .centre
      {
        min-width: 100px
      }

      .marseille .btitreetphoto .photosmarseille a
      {
        width: 100%;
      }
      .marsetpop .marseille .btitreetphoto .imgpop
      {
        display: flex;
        justify-content: center;
      }

      
      .sectionactivitesMars
      {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: transparent;
      }
      .sectionactivitesMars h1
      {
        margin-left: 2.5%;
      }

      .blocphotosactvitesMars
      {
        flex-direction: column;
        align-items: center;
      }

      .sectionactivitesMars article .groupephoto,.sectionactivitesMars article .groupephoto2,.sectionactivitesMars article .groupephoto3,.sectionactivitesMars article .groupephoto4
      {
        width: 95%;
      }

      .marseille
      {
        background-color: transparent;
      }

      .pop
      {
        padding-bottom: 30px;
        border-radius: 0;
        width: 100%;
      }
      .photospop .hotelspop .centrepop
      {
        min-width: 50px;
      }

      .pop .btitreetphotopop .photospop .hotelspop
      {
        box-shadow: 0px 1px 10px 5px rgba(0, 0, 0,.05);
      }




 /*Reglage cardre photos activite Marseille*/
      .sectionactivitesMars article .groupephoto4 a .cadrephoto6,
      .sectionactivitesMars article .groupephoto4 a .cadrephoto5,
      .sectionactivitesMars article .groupephoto3 a .cadrephoto4,
      .sectionactivitesMars article .groupephoto2 a .cadrephoto3,
      .sectionactivitesMars article .groupephoto2 a .cadrephoto2,
      .sectionactivitesMars article .groupephoto a .cadrephoto1      
      {
          height: 200px;
          width: 100%;
      }



/*Reglage Photo 1*/
    .sectionactivitesMars article .groupephoto
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto .blocphoto1,
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto a .cadrephoto1 img 
      {
          position: relative;
          left: -0%;
          top: -0%;
          object-fit: cover;
          height: 300px;
          border: 2px solid blue;
          width: 100%;
     }    

/*Reglage Photo 2 et 3*/
    .sectionactivitesMars article .groupephoto2
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto2 .blocphoto2,
    .sectionactivitesMars article .groupephoto2 .blocphoto3
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto2 a .cadrephoto2 img 
      {
          position: relative;
          left: -0%;
          top: -0%;
          object-fit: cover;
          height: 300px;
          border: 2px solid blue;
          width: 100%;
     }    
    .sectionactivitesMars article .groupephoto2 a .cadrephoto3 img 
      {
          position: relative;
          left: -0%;
          top: -0%;
          object-fit: cover;
          height: 300px;
          border: 2px solid blue;
          width: 100%;
     }

/*Reglage Photo 4*/
    .sectionactivitesMars article .groupephoto3
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto3 .blocphoto4,
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto3 a .cadrephoto4 img 
      {
          position: relative;
          left: -0%;
          top: -0%;
          object-fit: cover;
          height: 300px;
          border: 2px solid blue;
          width: 100%;
     } 

/*Reglage Photo 5 et 6*/
    .sectionactivitesMars article .groupephoto4
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto4 .blocphoto6,
    .sectionactivitesMars article .groupephoto4 .blocphoto5
      {
          height: auto;
      }

    .sectionactivitesMars article .groupephoto4 a .cadrephoto5 img 
      {
          position: relative;
          left: -0%;
          top: -0%;
          object-fit: cover;
          height: 300px;
          border: 2px solid blue;
          width: 100%;
     }    
    .sectionactivitesMars article .groupephoto4 a .cadrephoto6 img 
      {
          position: relative;
          left: -0%;
          top: -0%;
          object-fit: cover;
          height: 300px;
          border: 2px solid blue;
          width: 100%;
     }

      .bloc_footer
      {
        flex-direction: column;
        align-items: center;
      }

      .bloc_a_propos,
      .bloc_nos_hebergements,
      .bloc_assistance
      {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .bloc_a_propos h3,
      .bloc_nos_hebergements h3,
      .bloc_assistance h3
        {
        font-size: 1em;
        }

        .sectionactivitesMars
        {
          margin: 0;
        }
        .sectionactivitesMars .blocphotosactvitesMars
        {
          grid-row-gap: 30px;
        }

        .sectionactivitesMars .blocphotosactvitesMars .blocphoto2,
        .sectionactivitesMars .blocphotosactvitesMars .blocphoto5,
        .sectionactivitesMars .blocphotosactvitesMars .blocphoto6
        {
          margin-bottom: 30px;
        }

  }



  @media screen and (min-width: 0px) and (max-width: 500px)
    {
    

    }

/*BORDURE REPERE*/

marsetpop{border : 3px solid red;}
marsetpop .marseille{border:1px solid yellow;}
marseille .btitreetphoto{border:1px solid red;}
marseille nav{border:2px solid blue;}
marseille nav .textimg{ border:1px solid yellow;}
marseille cropimg{border: 1px red solid;}
pop{border:2px solid green;}
pop nav{border:2px solid blue;}
pop nav .textimg{border:1px solid yellow;}
pop cropimg1{border: 1px red solid;}
pop cropimg2{border: 1px red solid;}
pop cropimg3{border: 1px red solid;}
